<header class="header" [ngClass]="{'scrolling-mode': scrollingMode, 'header-mobile': userAgentMobile}" *ngIf="!userAgentMobile">
  <div class="header-options" *ngIf="!userAgentMobile">
    <div>
      <button (click)="changePage(option)" [ngClass]="{'selected': option.selected}" aria-label="changement de page"
              *ngFor="let option of options"
              class="option"><a aria-label="Navigation"
                                href="/{{option.moduleRoute}}">{{option.libelle | translate}}</a></button>
    </div>
    <div class="company">
      <img [alt]="'WEBSITE_TITLE_LOGO' | translate" class="company-img" src="/assets/images/logoEntier.webp"
           width="180px">
    </div>
  </div>

  <div class="header-options-mobile" *ngIf="userAgentMobile" (click)="openMenuMobile()">
    <button aria-label="bouton de menu" class="button-option-bars">
      <i class="fa fa-bars"></i>
    </button>
    <div class="company">
      <img [alt]="'WEBSITE_TITLE_LOGO' | translate" class="company-img" src="/assets/images/logoEntier.webp"
           width="100px">
    </div>
  </div>
  <div class="menu-mobile-open" *ngIf="userAgentMobile && menuMobileOpen">
    <button (click)="changePage(option)" [ngClass]="{'selected': option.selected}"
            aria-label="bouton de changement de page"
            *ngFor="let option of options"
            class="option"><a aria-label="Navigation" href="/{{option.moduleRoute}}">{{option.libelle | translate}}</a>
    </button>
  </div>

  <div [ngClass]="{'title-mobile': userAgentMobile}" class="title">
    <h1 class="main-title">
      {{(userAgentMobile ? "WEBSITE_MOBILE_TITLE" : "WEBSITE_TITLE") | translate}}
    </h1>
    <h2 class="sub-title">
      {{(userAgentMobile ? "WEBSITE_MOBILE_SUB_TITLE" : "WEBSITE_SUB_TITLE") | translate}}
    </h2>
    <div *ngIf="!userAgentMobile" class="villes">
      <div>{{"WEBSITE_SUB_TITLE_VILLE1" | translate}}</div>
      <div class="ville2">{{"WEBSITE_SUB_TITLE_VILLE2" | translate}}</div>
    </div>
  </div>
  <button (click)="scroll()" aria-label="Bouton de scroll dans la page" class="scroller" id="scroller-button"><i
    class="fa fa-angle-double-down"></i></button>

</header>
