<div class="header" [ngClass]="{'scrolling-mode': scrollingMode}">
  <div class="header-options">
    <div>
      <button class="option">{{"WEBSITE_TITLE_OPTION_1" | translate}}</button>
      <button class="option">{{"WEBSITE_TITLE_OPTION_2" | translate}}</button>
      <button class="option">{{"WEBSITE_TITLE_OPTION_3" | translate}}</button>
      <button class="option">{{"WEBSITE_TITLE_OPTION_4" | translate}}</button>
    </div>
    <div *ngIf="scrollingMode" class="company">{{"WEBSITE_TITLE_LOGO" | translate}}</div>
  </div>
  <div class="title">
    <div class="main-title">
      {{"WEBSITE_TITLE" | translate}}
    </div>
    <div class="sub-title">
      {{"WEBSITE_SUB_TITLE" | translate}}
    </div>
  </div>
  <button class="scroller">{{"WEBSITE_TITLE_OPTION_5" | translate}}</button>
</div>
