.quick-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &.quick-info-mobile {
    flex-direction: column;
  }

  .element:nth-child(odd) {
    min-width: 33%;
  }

  .element:nth-child(even) {
    min-width: 34%;
  }
}
