<footer>
  <div class="column-info">
    <h5 class="title">
      {{'WEBSITE_NOUS_FAISONS' | translate}}
    </h5>
    <div class="info">
      <span>{{'WEBSITE_NOUS_FAISONS_BOUQUETS' | translate}}</span>
      <span>{{'WEBSITE_NOUS_FAISONS_COMPOSITIONS' | translate}}</span>
      <span>{{'WEBSITE_NOUS_FAISONS_MARIAGE' | translate}}</span>
      <span>{{'WEBSITE_NOUS_FAISONS_ENTERREMENT' | translate}}</span>
      <span>{{'WEBSITE_NOUS_FAISONS_PLANTES' | translate}}</span>
      <span>{{'WEBSITE_NOUS_FAISONS_JARDIN' | translate}}</span>
      <span>{{'' | translate}}</span>
    </div>
  </div>
  <div class="column-info">
    <h5 class="title">
      {{'WEBSITE_NOUS_SUIVRE' | translate}}
    </h5>
    <div class="social">
      <a href="https://www.facebook.com/fleursfries/" target="_blank">
        <i class="fa fa-facebook-square"></i>
      </a>
    </div>
  </div>
</footer>
