footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  height: 250px;
  background-color: #333333;
  margin-top: 100px;

  .column-info {
    margin: auto 0;

    .info {
      display: flex;
      flex-direction: column;
      font-size: 0.85rem;
    }

    .social {
      width: 100%;
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 15px;

      i {
        font-size: 4rem;
      }
    }
  }

  &.footer-mobile {
    margin-top: 50px;

    .column-info {
      height: 150px;
      margin-top: 50px;

      h5 {
        font-size: 1.1rem;
      }

      i {
        font-size: 3rem;
      }
    }
  }
}
