/* You can add global styles to this file, and also import other style files */

@import "../node_modules/font-awesome/scss/font-awesome.scss";
$fa-font-path: "../node_modules/font-awesome/fonts";

@font-face {
  font-family: 'elixia';
  src: url("./assets/fonts/ELIXIA.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'elixia', 'arial', sans-serif;
}
