<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-5xl font-bold mb-1">Nos origines</span>
      <div class="text-4xl text-pink-600 font-bold mb-3">Notre identité, votre besoin</div>
      <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img [ngClass]="{'image-desktop': !userAgentMobile}" alt="Image" class="md:ml-auto block" height="500px"
         src="assets/images/huningues.JPG">
  </div>
</div>
