<div [ngClass]="{'col': userAgentMobile, 'row': !userAgentMobile}">
  <ng-container *ngFor="let image of imagesToShow; let i = index;">
    <div [ngClass]="{'row-10 mt-4': userAgentMobile, 'col-3 user-agent-desktop': !userAgentMobile}">
      <p-card styleClass="p-card-shadow"
              subheader="{{image.pictureTitlePath.text | translate}}">
        <ng-template pTemplate="header">
          <img [src]="image.pictureTitlePath.path" alt="Fleurs Fries" class="card-img-top">
        </ng-template>
        <ng-template *ngIf="!userAgentMobile" pTemplate="footer">
          <p-button (click)="openMorePictures(i)" icon="pi pi-plus" label="Voir plus"
                    styleClass="p-button-secondary"></p-button>
        </ng-template>
      </p-card>
    </div>
  </ng-container>
</div>
