.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  .card {
    width: 13rem;
    display: flex;

    .card-body {
      padding: 0.8rem 0.5rem;
    }

    .card-text {
      text-align: center;
    }

    .more-photos {
      position: absolute;
      bottom: -18px;
      display: flex;
      left: calc(50% - 15px);
      border: 1px solid #333;
      border-radius: 52%;
      padding: 5px;
      background: white;

      i {
        position: relative;
        background-color: white;
        top: -2px;
      }
    }
  }

  &.card-container-mobile {
    flex-direction: column;
    justify-content: normal;
    align-items: center;

    .card {
      margin: 20px 0;
      width: 15rem;
    }
  }
}
