<section class="container">
  <div class="text-box bg-yellow-200" #one>
    <h3 (click)="test()">Section 1</h3>
    <h3 *ngIf="test1">test 1</h3>
    <h3 *ngIf="test2">test 2</h3>
    <h3 *ngIf="test3">test 3</h3>
    <h3 *ngIf="test4">test 4</h3>
    <p>Random text</p>
  </div>
  <div class="text-box bg-purple-200" #two>
    <h3>Section 2</h3>
    <h3 *ngIf="test1">test 1</h3>
    <h3 *ngIf="test2">test 2</h3>
    <h3 *ngIf="test3">test 3</h3>
    <h3 *ngIf="test4">test 4</h3>
    <p>Random text</p>
  </div>
  <div class="text-box bg-bluegray-200" #three>
    <h3>Section 3</h3>
    <h3 *ngIf="test1">test 1</h3>
    <h3 *ngIf="test2">test 2</h3>
    <h3 *ngIf="test3">test 3</h3>
    <h3 *ngIf="test4">test 4</h3>
    <p>Random text</p>
  </div>
</section>
